/*浮动*/
.fl { float: left; }
.fr { float: right; }

/*清除浮动*/
.clearfix:after {
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix { zoom: 1; }
* html .clearfix { zoom: 1; }
/**, *:before, *:after { box-sizing: inherit; }*/


body { width:100%; height:auto; -webkit-text-size-adjust: none; }
html { font-size: 20px; }
*{ box-sizing: border-box; }


/*共用style*/


/*下三角形*/
.triangle_border_down{
    width:0;
    height:0;
    border-width: 0.3rem 0.225rem 0;
    border-style:solid;
    border-color:#ccc transparent transparent;
}
/*超出部分省略号*/
.sl{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/*图片自适应*/
.autoimg{width:100%;height: auto;}


/*header*/

.header{height:2rem;line-height: 2rem;background-color: #000;color: #fff;opacity: 0.8;
    text-align: center;font-size: 0.9rem;position: fixed;width:100%;}


.oneback{float: left;margin-left: 10px;background:url('../images/icon/left.png') no-repeat center center;
         width:2rem;height:2rem;display: inline-block;background-size: 1rem}
.header-title{margin-left: -2rem}         

 
