/*浮动*/
.fl { float: left; }
.fr { float: right; }

/*清除浮动*/
.clearfix:after {
    height: 0;
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
.clearfix { zoom: 1; }
* html .clearfix { zoom: 1; }
/**, *:before, *:after { box-sizing: inherit; }*/


body { width:100%; height:auto; -webkit-text-size-adjust: none; }
html { font-size: 20px; }
*{ box-sizing: border-box; }


/*共用style*/


/*下三角形*/
.triangle_border_down{
    width:0;
    height:0;
    border-width: 0.3rem 0.225rem 0;
    border-style:solid;
    border-color:#ccc transparent transparent;
}
/*超出部分省略号*/
.sl{ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

/*图片自适应*/
.autoimg{width:100%;height: auto;}


/*header*/

.header{height:2rem;line-height: 2rem;background-color: #000;color: #fff;opacity: 0.8;
    text-align: center;font-size: 0.9rem;position: fixed;top:0;width:100%;}

.oneback{float: left;margin-left: 10px;background:url('../images/icon/left.png') no-repeat center center;
         width:2rem;height:2rem;display: inline-block;background-size: 1rem}
.memberinfo{float: left;margin-left: 10px;background:url('../images/icon/member.png') no-repeat center center;
         width:2rem;height:2rem;display: inline-block;background-size: 1rem}         
.homeback{float: right;margin-right: 10px;background:url('../images/icon/index.png') no-repeat center center;
         width:2rem;height:2rem;display: inline-block;background-size: 1.5rem}
.addpro{float: right;width:2rem;height:2rem;display:inline-block;font-size: 2rem;color: #fff;}         
.header-title{margin-left:2rem} 

/*content*/
.content{margin-top: 2rem;overflow: hidden;background:#f2f2f2; }        


.avatar{line-height: 2rem;height: 2rem;width: 2rem;text-align: center;background:#000;float: left; }
.avatar img{border-radius: 100%;display: block;}

.show-list{margin:10px;}
.list{display: block;margin: 0.5rem 1rem;width:60%;position: relative;float: 
        left;background:#fff;border:1px solid #fefefe; }
.list:hover{background:#f6f6f6;}
.list span{font-size: 0.6rem;margin:0.5rem;display: block;}
.list .list-des{margin: 0 auto;line-height: 0.6rem;display: block;text-indent: 1rem;}
@media screen and (max-width:375px) {
    .list span {
        font-size: 0.6rem;margin:0.4rem;
    }
}
.list p{text-indent: 1rem;color: #000;line-height: 1.6rem;font-size:0.8rem;
    margin:0 auto;margin-right: 1rem; font-weight: 700;}
.money{position: absolute;right:10%;bottom:30%;} 
.list .money strong{color:#e74c3c;font-size: 1.2rem;font-weight: 700;float: right;}
#triangle-left {
    
}
.list:before{
  content:"";
  width:0;
  height:0;
  position:absolute;
  left:-12px;
  top:5px;
  border-top:solid 12px transparent;
  border-right:solid 12px #fff;       
  border-bottom:solid 12px transparent;
}

/*add*/
.add_avatar{border: 1px solid #ccc;width:3rem;height: 3rem;margin: 1rem;float: left;border-radius: 100%;}
.add_msg_money{line-height: 3rem;float: left;margin: 1rem;font-size: 0.8rem}