
/*输入框基本样式*/
.input-text{width:90%;margin: 0 auto;margin-bottom:5px;}
.input-text input{line-height: 2rem;height: 2rem;width:100%;background:#ebebeb;
                    color: #000;font-size: 0.8rem;text-indent: 1rem}
.input-text input.input-text-code{line-height: 2rem;height: 2rem;width:60%;background:#ebebeb;
                    color: #000;font-size: 0.8rem;text-indent: 1rem}

.input-text span{font-size: 0.7rem;color: red;margin: 4px;display: none}

.btn-submit{width:100%;margin: 0 auto;line-height: 2rem;
                height: 2rem;font-size: 0.8rem;background: #0a6497;color:#fff;border-radius: 4px;}

.btn-register{width:100%;margin: 0 auto;line-height: 2rem;display: block;text-align: center;
                height: 2rem;font-size: 0.8rem;color:#000;border-radius: 4px;border:1px solid #ccc;}
.code-btn{background:#bbbbbb;color:#fff;line-height: 1.9rem;height: 1.9rem;font-size: 0.8rem;border:none;width: 38%}
.jianghuxy{font-size: 0.7rem;text-align: center;margin:10px;}
.jianghuxy a{color:red;}
#jianghuinfo{font-size: 0.8rem;width:94%;margin:0 3%;display: none}
.agree{width:100%;margin: 20px auto;line-height: 2rem;
                height: 2rem;font-size: 0.8rem;background: #0a6497;color:#fff;border-radius: 4px; }

/*
  login登录页面
  like 2017/9/3
*/
.login{margin-bottom: 10px;}
.forget-psd{float:right;margin-right: 6%;color:#0a6497;font-size: 0.7rem;border-bottom: 1px solid #0a6497}
.login p{text-align: center;margin: 20px 0 0px 0px;font-size: 0.8rem}
.login .line {
            position: relative;   /*定位横线（当横线的父元素）*/
        }
.login .line:before,.login .line:after {
            content: '';                 /*CSS伪类用法*/
            position: absolute;         /*定位背景横线的位置*/
            top: 52%;
            background: #ccc;       /*宽和高做出来的背景横线*/
            width: 18%;
            height: 1px;
        }
.login .line:before{
            left: 10%;        /*调整背景横线的左右距离*/
        }
.login .line:after {
            right: 10%;
        }
 
.login p span {display: block;font-size: 3em;color: #212121;position: relative; }
/*三方登录*/
.loginWay{text-align: center}
.loginWay a{border-radius: 100%;background:#0a6497;line-height:0.8rem;padding: 0.4rem;
            display: inline-block; margin-top: 10px;}

/*
  forget忘记密码
  like 2017/9/4
*/    
    